<ion-view view-title="Green Melody">
  <ion-nav-bar class="bar-dark" align-title="center">
  <ion-nav-buttons  side="left">
      <button class="button back-button buttons button-clear header-item" ng-click="$ionicGoBack()">
         <i class="ion-arrow-left-c"></i> Back
      </button>
  </ion-nav-buttons>
<!--   <button class="button back-button buttons button-clear header-item" ng-click="$ionicGoBack()">
          <i class="ion-arrow-left-c"></i> Back
        </button> -->
  <ion-nav-buttons  side="right">
      <i class="button-icon icon ion-loading-a" ng-show="loader.loading"></i>
      <button class="button button-clear"><icon class="icon ion-social-twitter"></icon></button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-content class="content-stable bgcolor-white"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true" >

      <div ng-repeat="message in messages"
           ng-class="{other: message.userId != myId}"
           class="messages">

        <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
          <span class="chat">{{ message.text }}</span>
        </div>

        <!-- <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div> -->
        <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}"></div>


      </div>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
<!--   <ion-content>
  Cyber Counseling page -->
  <!-- <div class="list card"> -->

  <!-- <div class="item">
    <div class="row">
      <div class="col col-40">
        <img src="mcfly.jpg">
      </div>
      <div class="col col-60">
        <h2></h2>
        <p>November 05, 1955</p>
      </div>
    </div> 
  </div>

  <div class="item item-body">
    <div class="list">
      <div class="item item-divider"> 
          건강검진을 받으시고자 하는 주된 동기는 무엇입니까?
      </div>      
      <ion-radio ng-repeat="motivation in motivations"
                 ng-value="motivation.value"
                 ng-model="data.clientSide">
        {{ motivation.value }}
      </ion-radio>
      </div>
    </div>
    <a href="#/">
      <button class="button button-full button-positive">
          다음        
      </button>
    </a>

  </div> -->
  <!-- </ion-content> -->
</ion-view>
