<ion-view title="Main">
  <ion-content>
  <div class="col">
  
  <div class="row">
    <div class="card col">
        <div class="item item-text-wrap main-card" >        
          검진센터 
          검진예약
        </div>
    </div>
    <div class="card col">
      <a href="#/main/mc-main">
        <div class="item item-text-wrap main-card">
        의료상담 
        (헬스케어)
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="card col">
      <div class="item item-text-wrap main-card">
      검진결과 보관
      </div>
    </div>
    <div class="card col">
      <div class="item item-text-wrap main-card">
        건강관리
      </div>
    </div>
  </div>
  </div>
  </ion-content>
</ion-view>
