<ion-view title="Main">
  <ion-content>
  <div class="col">
  
  <div class="row">
    <div class="card col">
      <a href="#/main/mc-main">
        <div class="item item-text-wrap main-card" >        
          Health Consultation
        </div>
      </a>
    </div>
    <div class="card col">
      <a href="#/main/reservation">
        <div class="item item-text-wrap main-card">
        Medical Checkup Reservation
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="card col">
      <div class="item item-text-wrap main-card">
      Result of health check up
      </div>
    </div>
    <div class="card col">
      <div class="item item-text-wrap main-card">
        Health care
      </div>
    </div>
  </div>
  </div>
  <div class="row">
  <div class="card col">
      <div class="item item-text-wrap text-center">
        Allianz
      </div>
    </div></div>
  </ion-content>
</ion-view>
