<ion-view view-title="예약">
  <ion-content>
  <div class="list card">

  <div class="item">
    <div class="row">
      <div class="col col-40">
        <img id="simple-reserv-icon" src="img/simple-reserv-icon.png" >
      </div>
      <div class="col col-60">
        <h2>Fit me?</h2>
        <p> </p>
      </div>
    </div> 
  </div>

  <div class="item item-body">
    <div class="card">
      <div class="item item-text-wrap">
        <i class="icon ion-plus"></i>&nbsp&nbsp&nbsp기본플러스 종합검진
      </div>
    </div>
    
    <a href="#/main/mr-main/mr-main-1/mr-main-2/mr-main-3/mr-main-4" class="button button-full button-assertive">
          검진 프로그램 보기        
    </a>

  </div>
  </ion-content>
</ion-view>
