/* Empty. Add your own CSS if you like */

.main-card {
	height: 150px;
}

/*ion-content {
	background-color: #377ABD;
}*/

.type-row {
}
.type-row .selected {
	background-color: darksalmon;
}

.item-reserve-comp {
	padding: 20px;
}