/* Empty. Add your own CSS if you like */

ion-content {
    background-color: steelblue;
}
.main-card {
	border-radius: 10px;
}

.main-menu-card{
    background-color: lavender;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
    height: 150px;
}

#allianz-card {
  background-color: #1B1B56;
}

.logo-text 
{
    background-color: #1B1B56;
    color: #fff;
    font-size: large;
    font-weight: 900;

}

.counsel-btns {
	margin-top: 40px;
	font-weight: 700;
}

.counsel-btns .button {
	margin-top : 20px;
}


.type-row {
	background-color: #fff;
}
.type-row .selected {
	background-color: darksalmon;
}

.item-reserve-comp {
	padding: 20px;
}

.main-menu a{
	width: 100%;
}

.bgcolor-white {
    background-color: white;
}

.check-title {
    font-size: 30px;
    padding-bottom: 15px;
}


#btn-clinic-reserv, 
a#btn-chkup-reserv {
    border-radius: 25px;
    padding: 10px;
    width: 160px;
    height: 170px;
    background-color: lavender;
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
    border-color: darkgray;
    border-width: 1px;
    color: #092A6B;
}

.reserve-btns {
	margin-top: 20px;
}

.reserv-info {
	margin-top: 20px;
}

.platinum-info div.col,
.normal-info div.col {
    align-self: center;
}

.platinum-info .button, 
.normal-info .button {
    background-color: lavender;
    border-color: darkblue;
    font-weight: 700;
    color: #092A6B
}

.reserv-info button {
    width: 80%;
} 

ion-item {
	padding-right: 1px;
	margin: 1px;
}

ion-item > .row {
    padding: 1px;
}

ion-item.item-accordion.item {
    padding: 5px;
}

.reserve-name {
	width:300px;
}
.reserve-price {
	font-size: small;
	width:300px;
}

.btn_discount_p {
    background-color: firebrick;
    color: #fff;
}

.btn_discount_n {
    background-color: darkslateblue;
    color: #fff;
}

img#simple-reserv-icon {
	width: 60%
}


.scroll {
  padding: 10px 0 50px !important;
}

.messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 20px !important;
}
.messages .message {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  padding: 10px !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  overflow: hidden !important;
  text-align: left !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.time {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  -webkit-align-self: auto !important;
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
  width: 120px !important;
  text-align: center !important;
  padding: 0 0 0 0 !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  -webkit-transform: translate3d(10px, 0, 0) !important;
  -moz-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
}
/*.time.slide-right {
  -webkit-transform: translate3d(130px, 0, 0) !important;
  -moz-transform: translate3d(130px, 0, 0) !important;
  transform: translate3d(130px, 0, 0) !important;
}*/

.messages.other .message {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  text-align: right !important;
}
.messages.other .message.slide-right {
  -webkit-transform: translate3d(120px, 0, 0) !important;
  -moz-transform: translate3d(120px, 0, 0) !important;
  transform: translate3d(120px, 0, 0) !important;
}
.messages.other span {
  color: black !important;
  background-color: #C7C7CC !important;
}

span.chat {
  background: #007AFF !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}
